body {

    
    
    background-color: black;
    opacity: 0.8;
    background-size:auto;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: sans-serif;



}

figure a {
    background-color: #F2C6AC; /* Color base del botón */
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    min-height: 50px;
    image-orientation:flip;
    text-decoration:none;
    justify-content: center;
    
}

figcaption {
    
    font-size: 100px;
    display: flex;
    color: #400303;
    flex-wrap: wrap;
    
   
  
   
    
  
    
}
    
   



h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size:100px;
    border-color: black;
    background-color: black;
}

header{
    color: white;
    text-align: justify;
    font-size:30px;
    
    background-color: black;
    margin: 50px;
    
}

p1 {

    line-height: 150%;
}

h2 {
    
    font-size:50px;
    color: white;
    text-align: center;
}

h3 {
    color: white;
    background-color: black;
    text-align: center;
}

main button {


    background-color: #F2C6AC; /* Color base del botón */
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 600px;
    min-height: 100px;
    image-orientation:flip;
   
  
    

    /* .flex-container {


        display: flex;


        height: 200px;


        background-color: #534B49;

        



    }


    .flex-container>div> {



        background-color: transparent;


        width: 10px;


        margin: 100px;

        text-align: center;

        line-height: 50px;


        font-size: 40px;


        flex: 1 1 200px;




    } */


}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 600px;
    min-height: 100px;
    image-orientation:flip;
    display: inline-block;
    
}