body {

    
    
    
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color:black



}

figure a {
    background-color: #F2C6AC; /* Color base del botón */
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    min-height: 50px;
    image-orientation:flip;
    text-decoration:none;
    justify-content: center;
    
}

figcaption {
    
    font-size: 100px;
    display: flex;
    color: #400303;
    flex-wrap: wrap;
    
   
  
   
    
  
    
}
    
   
h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: xxx-large;
    border-color: black;
    /* background-color: black; */
}

header{
    color: white;
    text-align: center;
    font-size:30px;
    /* background-color: black; */
    
    
    
}

p {
    font-size: x-large;
    line-height: 150%;
    text-align:justify;
    margin: 50px;     
    border-color: black;
    /* background-color: black; */
}

h2 {
    
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    border-color: black;
    /* background-color: black; */
}

h3 {
    color: white;
    /* background-color: black; */
    text-align: center;
    font-size: large;
}



main button {


    background-color: #F2C6AC; /* Color base del botón */
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 600px;
    min-height: 100px;
    image-orientation:flip;
   
  
    

    /* .flex-container {


        display: flex;


        height: 200px;


        background-color: #534B49;

        



    }


    .flex-container>div> {



        background-color: transparent;


        width: 10px;


        margin: 100px;

        text-align: center;

        line-height: 50px;


        font-size: 40px;


        flex: 1 1 200px;




    } */


}

section {
    
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 600px;
    min-height: 100px;
    image-orientation:flip;
    display: inline-block;
    
    
}

header img {
    border-radius: 50%;
    border: solid;
    border-color:azure;
    /* truco: el ancho y el alto deben ser iguales */
    width: 200px;
    height: 200px;
    object-fit: cover;
}